<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{initials}}</a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link active" href="#home">{{tab_home}} </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#skills">{{tab_skills}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#projects">{{tab_projects}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contact-me">{{tab_contact}}</a>
      </ul>
    </div>
  </div>
</nav>

<div id="home" class="container-fluid bg-primary min-vh-100 d-flex justify-content-center">
  <div class="d-flex flex-row align-items-center">
      <div class="flex-column d-flex px-3">
        <img src="/images/main_img.jpeg" alt="Thats someone cool" style="width:300px;height:300px; border-radius: 30%;">
      </div>

      <div class="d-flex flex-column justify-content-evenly px-3">
        <p class="fw-bold fs-3 text text-white ">{{my_heading}}
          <br>
          {{my_role}}
        </p>
        <p class="fw-bold fs-5 text-dark">{{my_designation}}</p>
      </div>

       <div class="d-flex flex-column justify-content-evenly px-3">
         <a class="btn btn-primary my-1" style="background-color: #3b5998;" href="{{social_fb_url}}"><i class="fa fa-facebook"></i></a>
         <a class="btn btn-primary my-1" style="background-color: #55ACEE;" href="{{soical_twitter_url}}"><i class="fa fa-twitter"></i></a>
         <a class="btn btn-primary my-1" style="background-color: #ac2bac;" href="{{social_instagram_url}}"><i class="fa fa-instagram"></i></a>
         <a class="btn btn-primary my-1" style="background-color: #0082ca;" href="{{social_linkedin_url}}"><i class="fa fa-linkedin"></i></a>
         <a class="btn btn-primary my-1" style="background-color: #333333;" href="{{social_github_url}}"><i class="fa fa-github"></i></a>
       </div>
  </div>
</div>

<div id="skills" class="container pt-5">
  <p class="fw-bold fs-3 text">{{my_skills}}</p>
  <div class="py-2">
    <div class="p-2 border border-success">
      <p class="fw-bold fs-5 text">{{java}} </p>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="p-2 border border-info">
      <p class="fw-bold fs-5 text">{{mobile_dev}}</p>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="p-2 border border-warning">
      <p class="fw-bold fs-5 text">{{frontend}}</p>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="p-2 border border-danger">
      <p class="fw-bold fs-5 text">{{agile}}</p>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5">
  <p class="fw-bold fs-3 text">{{work_ex}}</p>

  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/images/expedia_logo.png" class="card-img-top" style="height: 140px;" alt="">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{expedia}}</h5>
          <p class="card-text">
            <ul>
              <li><b>{{expedia_dates}}</b></li>
              <li><b>{{expedia_role}}</b></li>
              <li><b>{{expedia_location}}</b></li>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/images/calient_logo.png" class="card-img-top" style="height: 140px;" alt="">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{calient}}</h5>
          <p class="card-text">
            <ul>
              <li><b>{{calient_dates}}</b></li>
              <li><b>{{calient_role}}</b></li>
              <li><b>{{calient_location}}</b></li>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/images/hp_logo.jpeg" class="card-img-top" style="height: 140px;" alt="">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{hp}}</h5>
          <p class="card-text">
            <ul>
              <li><b>{{hp_dates}}</b></li>
              <li><b>{{hp_role}}</b></li>
              <li><b>{{hp_location}}</b></li>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/images/seasia_logo.jpeg" class="card-img-top" style="height: 140px;" alt="">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{seasia}}</h5>
         <p class="card-text">
            <ul>
              <li><b>{{seasia_dates}}</b></li>
              <li><b>{{seasia_role}}</b></li>
              <li><b>{{seasia_location}}</b></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="projects" class="container pt-5">
  <p class="fw-bold fs-3 text">{{my_projects}}</p>
  <div class="py-2">
    <div class="row row-cols-1 row-cols-md-2 g-4">

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{vap}}</h5>
            <p class="card-text">
              <ul>
                <li>{{vap_1}}
                <li>{{vap_2}}
                <li>{{vap_3}}
                <li>{{vap_4}}
                <li>{{vap_5}}
                <li>{{vap_6}}
              </ul>
              </p>
          </div>
        </div>
      </div>

            <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{labm}}</h5>
            <p class="card-text">
              <ul>
                <li>{{labm_1}}</li>
                <li>{{labm_2}}</li>
                <li>{{labm_3}}</li>
                <li>{{labm_4}}</li>
              </ul>
              </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{voy}}</h5>
            <p class="card-text">
              {{{voy_details}}}
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{sapp}}</h5>
            <p class="card-text">
              {{{sapp_details}}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact-me" class="container pt-4">
  <p class="fw-bold fs-3 text">{{tab_contact}}</p>
  <div class="pb-4 col-8">
    <div class="p-3 border border-primary">
      <form>
        <div class="mb-3">
          <label for="fullName" class="form-label">{{full_name}}</label>
          <input type="text" class="form-control" id="fullName">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">{{email}}</label>
          <input type="email" class="form-control" id="email">
        </div>

        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="phone" class="form-label">{{phone}}</label>
              <input type="phone" class="form-control" id="phone">
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="company" class="form-label">{{company}}</label>
              <input type="company" class="form-control" id="company">
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="message" class="form-label">{{message}}</label>
          <textarea class="form-control" id="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{contact_form_btn}}</button>
    </div>
    </form>

  </div>
</div>

<footer class="bg-light text-center text-white">
  <div class="text-center p-3" style="background-color: black;">
    © 2020 Copyright:
    <a class="text-white" href="https://to-be-inserted">Pmurria Portfolio</a>
  </div>
</footer>